{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:import/extensions"
  ],
  "plugins": [],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "react/sort-comp": 0,
    "class-methods-use-this": 1,
    "react/require-default-props": 0,
    "react/prop-types": 0,
    "react/no-unused-prop-types": 0,
    "no-else-return": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": 0
  }
}
